
/* ****************** */
 /* ROOT PSEUDOCLASS - variables */
 /* **************** */
 :root{
   /* colors */
   --primary-color:#000;
   --secondary-color:#fff;
   --gold-color:#ddc35b;
   --deeppink-color:#e10097;
   --turquoise-color:#53dcff;
   --required:#fa5a5a;
   /* font-size */
   --font-size:1.5rem;
   /* decoration */
   --text-underline:underline;
   --no-decoration:none;
   /* font-weight */
   --font-weight: 400;
   --h2-font-weight: 700;
   /* font-family */
   --h1-font-family:"Source Serif Pro", serif;

 }


/* DEFAULT BOX SIZE FOR DOCUMENT */
*{
  box-sizing: border-box;
}
/* ****************************** */
/* GENERL SETTINGS */
/* ****************************** */

/* General settings for document */
body ,header, section, footer{
  background-color:var(--primary-color);
  color:var(--secondary-color);
  font-family:"Lato", sans-serif;
  font-weight:var(--font-weight);
  font-size: 16px;
  line-height: 1.6;
}

/* *************************** */
/* HOMEPAGE & NAVIGATION & HEADERS*/
/* *************************** */

/* introduction on index.html */
.introduction{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
}
/* Navigation */
.nav-list{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav-list li{
  display:inline-block;
  margin:15px;
}
.nav-list__item:link{
  color:var(--gold-color);
  text-decoration:var(--no-decoration);
}

.nav-list__item--visited:visited{
  color:var(--secondary-color);
  text-decoration:var(--text-underline);
}

.nav-list__item--hover:hover, .nav-list__item--hover:focus{
  color:var(--turquoise-color);
  text-decoration:var(--text-underline);
}
.nav-list__item--active:active{
  color:#f559b0;
  text-decoration:var(--text-underline);
}

.profile__portrait{
  width:250px;
  height:auto;
  border-radius: 50%;
}
/* styling for header 1 */
h1{
  color: #adadad;
  font-family:var(--h1-font-family);
  font-size: var(--font-size);
  font-weight:var(--font-weight);
  max-width:450px;
}
/* styling for header 2 */
h2{
  font-size: 24px;
  font-weight:var(--h2-font-weight);
}
.introduction__header{
  font-size: 2rem;
}
.introduction-text{
  padding:50px;
  margin: 20px;
}
.introduction-text__item{
  max-width:400px;
  color:var(--turquoise-color);
}
/* general button styling */
button,.submit_btn,.button{
  color:var(--secondary-color);
  background-color:var(--deeppink-color);
  font-family: inherit;
  text-decoration:var(--no-decoration);
  min-width:50px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 1s;
}
/* styling for button on homepage */

.button:hover, .button:focus,.submit_btn:hover,.submit_btn:focus,.form-btn:hover, .form-btn:focus{
  cursor: pointer;
  opacity: 0.7;
}
/* ************************** */
/* ABOUTPAGE */
/* ************************** */

/* about section on about.html*/
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
}
.about-text{
  display:flex;
  width:100%;
  height:auto;
}
.about-header{
  font-size:var(--font-size);
  margin:0 auto;
}
.about-text__item{
  margin:0 auto;
  max-width:500px;
  text-align: center;
}
.about-list{
  width:200px;
  height:auto;
  margin:0 auto;
}

.enjoy-list{
  list-style-type:none;
  text-align: left;
}
.about-am{
  display:flex;
  justify-content: center;
  width: 100%;
  height:auto;
}
svg{
  width: 40%;
  height: auto;
}
/* **************************** */
/* CONTACTPAGE */
/* **************************** */

/* information section on contact.html */
.information{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information__header{
  font-size:var(--font-size);
  color:var(--gold-color);
}

/* form on contact.html */
.contact-form{
  display:block;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.contact-information{
  display:flex;
  gap: 20px;
}

.contact-information__item1{
  padding: 20px;
  margin-right: 20px;
}
.contact-information__item2{
  display: flex;
  flex-direction: column;
  padding:20px;
}
/* form elements: labels, inputfields */
.contact-label, .information__fullname, .information__email, .information__subject, .information__message {
  margin: 10px 0px;
  width: 100%;
  color:var(--secondary-color);
}
/* contact information elements*/
.contact-information__mail, .contact-information__tel{
  color:var(--turquoise-color);
}

.contact-information__mail--visited:visited, .contact-information__tel--visited:visited{
  color:var(--turquoise-color);
}

.contact-information__mail--hover:hover, .contact-information__mail--hover:focus,.contact-information__tel--hover:hover, .contact-information__tel--hover:focus{
  color:var(--secondary-color);
  text-decoration:var(--no-decoration);
}

.contact-information__mail--active:active, .contact-information__tel--active:active{
  color: green;
}

/* styling for contact information links */
#personal-email, #personal-number, #agency-email{
  color:var(--gold-color);
}

/* styling for required inputfields */
abbr{
  color:var(--required);
}


/* ****************************** */
/* WORKPAGE */
/* ****************************** */

/* Header as flexboxcontainer with flexchildren */
.page-header{
  display: flex;
  width: 100%;
  padding: 20px;
}
/* flex-first-child: logo */
.page-header__item{
  flex: 0 1 200px;
}
/* flex-last-child */
.page-header__item:last-child{
  flex-grow: 1;
  text-align: right;
}

/* older browser without grid */
/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

/* Grid on Workpage */
/* parent:container */
/* Grid support */
@supports (display: grid) {
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin:0;
}
/* flexchildren */
.grid__item{
  background-color: #937200;
  width: auto;
  min-height: auto;
  padding:20px;
  margin:0;
}
/* .grid__item:last-child{
  grid-column: 3/3;
  grid-row: 1/3;
} */

.grid__itemlink{
  color:var(--primary-color);
}
/* styling text */
.webdeveloper, .job, .design{
  color:var(--secondary-color);
}
.dot{
  color:var(--turquoise-color);
 }
}

/* ******************** */
/* FOOTER */
/* ******************** */

/* styling social media icons */
.fa-brands{
  color:var(--secondary-color);
  font-size:2em;
}

.page-footer{
  display: flex;
  flex-direction: column;
  text-align:center;
  clear:both;
}
/* ************************ */
/* TRANSITIONS & ANIMATIONS */
/* ************************ */

@keyframes slideInFromLeft{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

.introduction__header{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes color-change{
  from{
    fill: #ffff66;
  }
  to{
    fill:#ff0033;
  }
}
.cls-1 {
  animation: 4s color-change infinite alternate linear;
}

@keyframes bird-move {
  0% {
    transform: translate(0%, 20%);
  }
  100% {
    transform: translate(20%, -40%);
  }
}

.bird{
  animation: 20s bird-move infinite alternate linear;
}

@keyframes color-text-change{
  from{
    fill:var(--primary-color);
  }
  to{
    fill:var(--gold-color);
  }
}

.text{
  animation: 20s color-text-change infinite alternate linear;
}

/* ****************************************** */
/* MEDIAQUERIES FOR DIFFERENT SCREENSIZES */
/* ****************************************** */


@media all and (max-width: 500px){
  .grid {
    grid-template-columns: 1fr;
  }
  .introduction-text{
    text-align: center;
  }
  h1{
    font-size: 1.2rem;
  }
  svg{
    padding:10px;
    width: 90%;
    height:auto;
  }
  input{
    padding:8px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid{
    grid-template-columns: 1fr 1fr;
  }
  .introduction-text{
    text-align: left;
  }
  svg{
    padding:10px;
    width: 95%;
    height:auto;
  }
}

@media all and (min-width: 750px) {
  .grid{
    gap: 10px;
  }
  .grid__item:last-child{
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .introduction-text{
    text-align: left;
    margin:0;
    padding:20px;
  }
  input{
    padding:10px;
  }
  .form-btn{
    width: 100%;
  }
}
